selenium
webdriver-manager
numpy
pandas
pandas_ta
scikit-learn
matplotlib
seaborn
plotly
jupyterlab
requests
beautifulsoup4
lxml
scrapy
scipy
statsmodels
gdown
streamlit
streamlit_folium
streamlit_lottie